:host
  width: 300px
  height: 400px
  cursor: pointer
  padding: 2em
  animation: appear ease-in-out 0.4s forwards

.meme-card
  box-shadow: 0px 0px 4px 0px #000000b5
  transition: transform linear 0.15s

.meme-card:hover
  box-shadow: 0px 0px 10px 3px #000000b5
  transform: scale(1.1)
  z-index: 10

@keyframes appear
  0%
    opacity: 0
  100%
    opacity: 1