<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="navbar">
      <div class="navWrapper navWrapper--white-right">
        <button routerLink="/" class="navWrapper_logo-button" mat-button>✌ MemeShop ✌</button>
      </div>
      <div class="navWrapper">
        <button mat-button [matMenuTriggerFor]="memes">Memy</button>
      </div>
      <mat-menu #memes="matMenu">
        <button routerLink="/latest" mat-menu-item>Najnowsze</button>
        <button routerLink="/memes" mat-menu-item>Wszystkie</button>
      </mat-menu>
      <span class="navbar__space-filler"></span>
      <button routerLink="/sign" mat-raised-button color="primary">Login</button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<main>
  <router-outlet></router-outlet>
</main>