<div style="text-align:center">
  <h1 style="display: flex; flex-direction: column;">
    <span>
      Main module
    </span>
    <span>
      Loading timer: {{loadTime != 0 ? loadTime : 'STOP'}}
    </span>
  </h1>
</div>
<div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div style="text-align:center" *ngIf="(content$ | async) as content; else loading">
  <main [innerHTML]="content"></main>
</div>
<ng-template #loading>
  <div style="text-align:center">
    Content download... Should appear in {{loadTime}} seconds!
  </div>
</ng-template>