<app-meme-list-filters *ngIf="filterVisible" (close)="filterVisible = false"></app-meme-list-filters>
<section *ngIf="(memes$ | async) as memes; else memesLoading" class="list-container">
  <app-meme-card *ngFor="let meme of memes" [data]="meme"></app-meme-card>
</section>
<ng-template #memesLoading>
  <div class="loading-spinner">
    <mat-progress-spinner [color]="primary" [mode]="'indeterminate'"></mat-progress-spinner>
  </div>
</ng-template>
<section class="new">
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</section>
<section *ngIf="!filterVisible" class="filter">
  <button mat-fab color="primary" (click)="filterVisible = true">
    <mat-icon>search</mat-icon>
  </button>
</section>