<app-meme-list-filters *ngIf="visible.filter" (close)="visible.filter = false"></app-meme-list-filters>
<section #infinityContainer *ngIf="memes" class="list-container" (scroll)="scroll()" (resize)="scroll()">
  <div class="list-container__height-wrapper">
    <app-meme-card *ngFor="let meme of memes" [data]="meme"></app-meme-card>
  </div>
  <mat-progress-spinner class="list-container__loading-spinner" *ngIf="visible.memesChunk" [color]="'warn'" [mode]="'indeterminate'"></mat-progress-spinner>
</section>
<section class="new">
  <button mat-fab color="primary" (click)="test()">
    <mat-icon>add</mat-icon>
  </button>
</section>
<section *ngIf="!visible.filter" class="filter">
  <button mat-fab color="primary" (click)="visible.filter = true">
    <mat-icon>search</mat-icon>
  </button>
</section>